<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Titre</th>
        <th scope="col">Nom de la revue</th>
        <th scope="col">Date de publication</th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    {% for recherche in recherches %}
    <tr>
        <th scope="row"></th>
        <td>{{ recherche.getTitreappel() }}</td>
        <td>{{ recherche.getTitrerevuetrouve() }}</td>
        <td>{{ recherche.datepublication()|date('d-m-Y') }}</td>
        <td><a href="{{ recherche.getLien() }}">voir plus</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<div style="margin-top: 2rem">
    {{ knp_pagination_render(recherches) }}
</div>
